header {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding-top: 30px;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-bottom: 60px;
}
#sitelogo {
    max-height: 80px;
}
body {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    /* PROJECT REQUIREMENT: The following CSS is required for assignment #03. It defines the color of the page, in this case an RGB value of 172, 226, and 255. */
    background-color: rgb(70, 76, 87);
    margin-left: 75px;
    margin-right: 75px;
    font-family: Helvetica, sans-serif;
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: url("media/DSCF9067-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.content-wrapper {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2;
    max-width: 1920px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 24px;
    padding-left: 48px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    color: white;
}
/* PROJECT REQUIREMENT: The following are custom CSS for h1, h2, and p as required for the CSS Typography requirement for the assignment #03.
the size of the font is different between the 3 tags, and "Oswald" is used as the font for the headers, and "helvetica" is used for the paragraphs. */
h1 {
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
    color: rgb(210, 40, 40);
    font-size: 7em;
    margin-bottom: -16px;
    margin-top: -16px;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
    color: rgb(210, 40, 40);
    font-size: 4em;
    margin-top: 12px;
    margin-bottom: 12px;
}
p {
    font-family: helvetica, san-serif;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: rgb(210, 40, 40);
    font-weight: bold;
}
a:hover {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}
.me {
    height: 800px;
    width: auto;
}
.intro {
    font-weight: bold;
    font-size: 64px;
    margin-bottom: -30px;
    margin-top: -30px;
}
#menubar {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 75px;
}
.menu {
    display: flex;
    font-family: "Oswald", sans-serif;
    font-size: 4em;
}
.menu a {
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: transparent;
    padding: 8px 16px;
    color: white;
}
.menu a:hover {
    background-color: White;
    border-radius: 8px;
    padding: 8px 16px;
    color: black;
}
.blogpics {
    border: 5px solid white;
    max-width: 35%;
}
.blog {         
    font-family: "Roboto", sans-serif;
    max-width: 1920px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 24px;
    padding-left: 48px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    color: white;
}
ol {
    margin-left: 50px;
    font-family: helvetica, san-serif;
    font-weight: bold;
    font-size: 24px;
}
ul {
    margin-left: 50px;
    font-family: helvetica, san-serif;
    font-weight: bold;
    font-size: 24px;
}
#socialmedia {
    list-style-type: none;
    display: flex;
    gap: 50px;
}
#footer-socialmedia {
    display: none;
}
footer {
    background-color: black;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (max-width: 1080px) {
    header {
        padding: 15px 0;
        justify-content: center;
    }
    body {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 80px;
        padding-bottom: 120px;
    }
    h1 {
        font-size: 1.5em;
        margin-bottom: 0;
    }
    h2 {
        font-size: 1.5em;
        margin-bottom: 0;
    }
    p {
        font-size: 1em;
    }
    ul {
        font-size: 1em;
        margin-left: 15px;
    }
    ol {
        font-size: 1em;
        margin-left: 15px;
    }
    #menubar {
        font-size: 10px;
        gap: 4px;
        transform:translateX(-28px)
    }
    #sitelogo {
        display: none;
    }
    footer {
        justify-content: center;
        flex-direction: column;
    }
    #socialmedia {
        display: none;
    }
    #footer-socialmedia {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style-type: none;
        transform:translateX(-28px)
    }
}