header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
/* ASSIGNMENT 03 REQUIREMENT: The following code defines a different color for my header, main (body), and footer. */
    background-color: black;
    padding-top: 30px;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-bottom: 60px;
}
#sitelogo {
    max-height: 80px;
}
/* ASSIGNMENT 03 REQUIREMENT: CSS Box Model is used throughout this stylesheet to create padding, margins, and borders around
various sections to create the intended layout. */
body {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
/* ASSIGNMENT 03 REQUIREMENT: The following code defines a different color for my header, main (body), and footer. */
    background-color: rgb(70, 76, 87);
    margin-left: 75px;
    margin-right: 75px;
    font-family: Helvetica, sans-serif;
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: url("media/DSCF9067-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    overflow-y: auto;
}
.content-wrapper {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2;
    max-width: 1920px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 24px;
    padding-left: 48px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    color: white;
    opacity: 0;
    transform: translateX(-100%);
    animation: content-wrapper forwards 0.25s ease-out;
    animation-delay: 0.5s;
}
@keyframes content-wrapper {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* ASSIGNMENT 03 REQUIREMENT: The following are custom CSS for h1, h2, and p as required for the CSS Typography requirement for the assignment #03.
the size of the font is different between the 3 tags, and "Oswald" is used as the font for the headers, and "helvetica" is used for the paragraphs. */
h1 {
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
    color: #f2ac0a;
    font-size: 3em;
    margin-bottom: -16px;
    margin-top: -16px;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-variant: small-caps;
    color: #f2ac0a;
    font-size: 2em;
    margin-top: 12px;
    margin-bottom: 12px;
}
p {
    font-family: helvetica, san-serif;
    color: white;
    font-size: 1em;
    font-weight: lighter;
    line-height: 2;
}
/* ASSIGNMENT 03 REQUIREMENT: The following code changes the display of my links. It makes the default color for the links red, 
and when hovered over, it turns white. */
a {
    text-decoration: none;
    color: #f2ac0a;
    font-weight: bold;
}
a:hover {
    color: white;
    text-decoration: underline;
}
.me {
    height: 800px;
    width: auto;
}
.intro {
    font-weight: bold;
    font-size: 64px;
    margin-bottom: -30px;
    margin-top: -30px;
}
#menubar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 75px;
    font-size: 1em;
}
.menu {
    display: flex;
    font-family: "Oswald", sans-serif;
}
.menu a {
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: transparent;
    padding: 8px 16px;
    color: white;
}
.menu a:hover {
    background-color: White;
    border-radius: 8px;
    padding: 8px 16px;
    color: black;
}
/* ASSIGNMENT 03 REQUIREMENT: The following code applies to the images in the blog section of the website. It creates a white
border around the images for visual enhancement. */
.blogpics {
    border: 5px solid white;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 16px;
}
.blog {         
    font-family: "Roboto", sans-serif;
    max-width: 1920px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 24px;
    padding-left: 48px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    color: white;
    opacity: 0;
    transform: translateX(-100%);
    animation: blog 0.5s forwards ease-out;
    animation-delay: 0.5s;
    overflow-y: auto;
}
@keyframes blog {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* ASSIGNMENT 03 REQUIREMENT: The following code adds a margin to my <ul> and <ol> list items. The bullet points for both of
these lists has been customized to a square. */
ol {
    margin-left: 50px;
    font-family: helvetica, san-serif;
    font-weight: lighter;
    font-size: 1em;
    list-style-type: square;
}
ul {
    margin-left: 50px;
    font-family: helvetica, san-serif;
    font-weight: lighter;
    font-size: 1em;
    list-style-type: square;
}
#socialmedia {
    list-style-type: none;
    display: flex;
    gap: 50px;
}
#footer-socialmedia {
    display: none;
}
footer {
/* ASSIGNMENT 03 REQUIREMENT: The following code defines a different color for my header, main (body), and footer. */
    background-color: black;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}
.minimenu {
    display: none;
}
.burger {
    display: none;
}
input[type="checkbox"] {
    display: none;
}
#active {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 8px 16px;
}
/* ASSIGNMENT 03 REQUIREMENT: The following code allows for my website to be responsive. Using the media query, the website
changes its layout when a screen size smaller than 1080px wide is used to access it. */
@media (max-width: 1080px) {
    header {
        justify-content: space-between;
        padding: 8px 12px;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 80px;
        padding-bottom: 120px;
    }
    h1 {
        font-size: 1.5em;
        margin-bottom: 0;
    }
    h2 {
        font-size: 1.5em;
        margin-bottom: 0;
    }
    p {
        font-size: 1em;
    }
    ul {
        font-size: 1em;
        margin-left: 15px;
    }
    ol {
        font-size: 1em;
        margin-left: 15px;
    }
    .menu {
        display: block;
    }
    #menubar {
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 40px;
        right: -150%;
        gap: 25px;
        font-size: auto;
        height: 250px;
        width: 100%;
        text-align: right;
        background-color: black;
        transition: right 0.3s ease;
    }
    #sitelogo {
        display: block;
        height: 40px;
    }
    footer {
        justify-content: center;
        flex-direction: column;
        font-size: 8px;
    }
    #socialmedia {
        display: none;
    }
    #footer-socialmedia {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: -5px;
    }
    .blogpics {
        max-width: 100%;
        max-height: 75%;
    }
    .minimenu {
        display: flex;
        justify-content: space-between;
    }
    .burger {
        display: block;
        background-image: url('assets/Menu.png');
        background-size: cover;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 1001;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    input[type="checkbox"]:checked + .burger {
        background-image: url('assets/Close.png')
    }
    input[type="checkbox"]:checked ~ .menu #menubar {
        right: 0%;
    }
    .content-wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
    p {
        font-weight: lighter;
    }
    ul {
        font-weight: lighter;
    }
    ol {
        font-weight: lighter;
    }
}
@media (max-width: 1400px) {
    #menubar {
        gap: 25px;
        font-size: 0.8em;
    }
}